[buildout]
develop = .
parts = test rabbitmq scripts
index = http://download.gocept.com/pypi/
find-links = http://download.gocept.com/packages/
package = gocept.amqprun

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:package} [test]

[rabbitmq]
recipe = rod.recipe.rabbitmq
url = http://www.rabbitmq.com/releases/rabbitmq-server/v1.8.0/rabbitmq-server-1.8.0.tar.gz

[scripts]
recipe = zc.recipe.egg
eggs = ${buildout:package} [test]
arguments = '${buildout:directory}/example.conf'
interpreter = python
